:root{
    --fondo-body: #0084ff;
    --fondo-header: #6c6c6c;
    --fondo-title: rgba(0, 0, 0, 0.815);
    --fondo-main: rgba(5, 160, 187, 0.568);
    --fondo-cont: rgba(0, 130, 190, 0.664);
    --fondo-nav: rgba(0, 0, 0, 0.87);
    --fondo-barra: rgba(255, 255, 255, 0);
    --fondo-user-box: rgba(0, 0, 0, 0.594);
    --fondo-side-bar: rgba(255, 132, 0, 0.807);
    --fondo-bar:rgb(43, 174, 0);
    --fondo-footer:rgba(0, 0, 0, 0.623);
    

    /* FONTS */
    --font: #051eff;
    --font1: #000000;
    --font3: #00a2ff;
    --font-text: #000000;
    --font-text1: #ffffff;

    /* SOMBRAS */
    --sombra-title: rgb(0, 0, 0);
    --sombra-title1: rgb(0, 0, 0);
    --sombra-linea:rgb(0, 0, 0);
    --sombra-linea2:rgb(0, 65, 204);
    --sombra-logo-movil:rgb(241, 110, 3);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--font-text1);
    min-height: 100vh;

}
/* INICIO HEADER */
.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-image: url(karsten-winegeart-ewfHXBcuFA0-unsplash.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    box-shadow: 0px 0px 30px 5px var(--sombra-title);
    padding: 20px;
}

.p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    color: var(--font);
    border-radius: 1px;
    font-family:"Yusei Magic", sans-serif;
    border-radius: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 5px 5px 11px var(--sombra-title1);
    
}
.p1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: none;
    font-size: 20px;
    font-family: "Courgette", cursive;
    color: var(--font1);
}
span{
    color: rgb(255, 255, 255);
}

/* INICIO NAV */
.bar-nav{
    display: flex;
    background:var(--fondo-nav);
    box-shadow: 0 0 40px 20px var(--sombra-linea);
    border-bottom: 1px solid var(--sombra-linea2);
    
}
ul{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.a1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--font-text);
    text-decoration: none; 
}


/* INICIO MAIN */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--fondo-main);
}
.main-box{
    width:80%;
    height: auto;

    color:var(--font-text1);
    text-align: justify;
    padding: 10px;
}
h2{
    font-size: 45px;
    color: var(--font-text1);
    text-shadow: 0 0 10px var(--font);
    margin-bottom: 20px;
}
.box-img{
    margin: 20px;
}
.img2{
    width: 200px;
    height: 90%;
    border-radius: 100%;
    box-shadow: 0 0 30px 10px var(--sombra-linea);
}

/* INICIO BARRA LATERAL */

.side-bar{
    display: flex;
    flex-direction: column;
    background: var(--fondo-barra);
    justify-content: space-around; 
}
.ofertas{
    color: var(--font);
    text-shadow: 0 0 10px var(--font);
    font-size: 30px;
    font-weight: bold;
}

/* RESPONSIVE  */

.box-conteiner > *{
    text-align: center;
    width: auto;
    padding: 20px;
}
.box-conteiner{
    display: grid;
    grid-template:
    "bar-nav" 40px
    "logo" 250px
    "side-bar" 70px
    "main" auto
    "footer" 100px;

    /* PORTADA */
    .logo{
        grid-area: logo;
        grid-template-areas: 100%;
        height: 100%;
        box-shadow: 0px 0px 20px 20px var(--sombra-logo-movil);
    }
    .img{
        grid-area: img;
        filter: drop-shadow(0 0 3px rgb(255, 255, 255));
        max-width: 80px;
    }
    .p{
        grid-area: p;
        display: flex;
        flex-direction: column;
        background: transparent;
        border: none;
        align-items: center;
        width: auto;
        flex-wrap: wrap;

        font-size: 60px;
        transition: all 0.2s ease-in-out;
    }
    .p1{
        grid-area: p1;
        color: var(--font-text);
        width: auto;
        font-size:10px;
    }
    /* BARRA NAV */
    .bar-nav{
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        grid-area: bar-nav;
        background: var(--fondo-bar);
        padding: 20px;
        box-shadow: none;
        color: var(--font-text);
        width:100%;
        height: 50px;
        border: none;
        box-shadow: 0 0 40px 5px;
    }
    .a1{
        font-family: "Courgette", cursive;
        font-size: 10px;
        color: var(--font-text1);
        text-decoration: none;
    }
    /* BARRA LATERAL */
    .side-bar{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        grid-area: side-bar;
        justify-content: center;
        background: var(--fondo-side-bar);
    }
    button{
        width: 100px;
        padding: 10px;
        background: var(--fondo-body);
        color: var(--font-text1);
        border-radius: 5px;
        font-weight: bold;
        font-size: 11px;
        overflow: none;
        outline: none;
        border: none;
    }
    /* MAIN */
    .main{
        grid-area: main;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        background: var(--fondo-main);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .main-box-1{
        color: var(--font-text);
        text-align: justify;
        padding: 10px;
        background: var(--fondo-cont);
        border-radius: 5px;
    }
    
    h2{
        color: rgb(0, 0, 0);
        text-shadow: 0 0 10px;
    }
    .footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--fondo-footer);
        color: var(--font-text);
    }
    .img-3{
        width: 1px;
        height: auto;
        border-radius: 100%;
    }
    /* CONTENEDOR DOS */
    .contenedor-cont{
        display: flex;
        margin-top: 10px;
        border-radius: 5px;
        background: var(--fondo-cont);
    }
    .box-img2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;    }
    .img-2{
        border-radius: 0px;
        padding-left: 10px;
        width: 100px;
        height: 50%;
        box-shadow: none;
        overflow: hidden;
    }
    .main-box-2{

        padding: 10px;
        text-align: justify;
        font-size: 12px;
    }


    .footer{
        grid-template:footer ;
        height: auto;

    }


    @media (min-width:768px) {
        grid-template:
        "bar-nav bar-nav bar-nav" 85px
        "logo logo logo" 550px
        "side-bar main main  "auto
        "footer footer footer" 100px/
        250px auto 250px;
        .p{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: transparent;
            backdrop-filter: blur(2px);
            border: none;
            border-radius: 5px;
            width: auto;
            flex-wrap: wrap;
            font-size: 90px;
            transition: all 0.2s ease-in-out;
        }
        .p1{
            width: auto;
            color: var(--font-text);
            text-shadow: 0 0 2px;
            font-size: 20px;
        }
        .bar-nav{
            grid-area: bar-nav;
            justify-content: space-around;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 80px;     
            background: var(--fondo-bar);
        }
        ol{
            margin: none;
            align-items: center;
            flex-direction: row;
            list-style-type: none;
            justify-content: center;
            width: 100%;
            height: auto;
        }
        .a1{
            font-size: 15px;
            border-radius: 5px;
            background:transparent;
            color: var(--font-text1);
        }
        .side-bar{
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            background: var(--fondo-bar);
        }
        button{
            width: 150px;
            background: var(--fondo-side-bar);
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
        }
        .box-img3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 10px;
            padding-bottom: 20px;
        }
        .img-3{
            box-shadow: 0 0 30px 10px;
            border-radius: 5px;
            width: 140px;
            margin-bottom: 20px;
        }
    }
    @media (min-width:992px) {
        .p{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 900px;
            flex-wrap: wrap;
            font-size: 120px;
            transition: all 0.2s ease-in-out;
        }
        .p1{
            color: var(--font-text);
            width: auto;
            font-size: 20px;
        }
        
        grid-template:
        "bar-nav bar-nav bar-nav" 85px
        "logo logo logo" 550px
        "side-bar main main  "auto
        "footer footer footer" 100px/
        200px auto 200px;
}
}